alphavantage_snowflake_dbt:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: 
      user: 
      password: 
      role: 
      database: 
      warehouse: 
      schema: 
      threads: 